

//
//	Frontier / Objects / Cards
//


.o-card {
	padding: lines(3) gutters(1) 0;
	position: relative;
	background-color: get-color( white );
	@include clearfix;

	.content {
		position: relative; z-index: 10;
	}
	

	//	Styles	 --------------------

	//	Sizes	 --------------------

	//	States	 --------------------
	
	//	Themes
	//	--------------------------------------------------
}


/**
 * 	Media Queries
 *	--------------------------------------------------
 */

//	Breakpoint:	tablet-wide 
//	--------------------------------------------------

@include breakpoint( tablet-wide ) {

}