

//
//	Frontier / UI / Forms
//


$input-font-size: get( field-input-size, $type-settings );
$label-font-size: get( field-label-size, $type-settings );


form {
	width: 100%;
	margin: 0;
	float: left;
	
	fieldset {
		// min-width: cols(4);
		margin: 0 gutters(-0.5); padding: 0;
		display: block;
		// position: relative; left: 50%;
		// transform: translateX(-50%);
		border: none;
	}
}

	label {
		width: 100%;
		padding: 0 gutters(0.5); margin-bottom: lines(3);
		position: relative; z-index: 1;
		float: left; box-sizing: border-box;
		display: block; vertical-align: top;

		&.-mobile-half {
			width: percentage( 1/2 );
		}
		&.-mobile-full { 
			width: percentage( 1 );
		}
		
		//	Field Label	 ----------------

		.label {
			@include font-size( $label-font-size, 2, false );

			width: 100%;
			display: block; position: relative;
			color: darken( get-color( grey-light ), 25 );
			
			// opacity: 0.33;
			transition: color 0.3s;
			-webkit-touch-callout: none;
			user-select: none;
		}

		//	Field Message	 ------------

		.message {
			// position: absolute; bottom: 0; right: $GUTTER/2;
			text-align: left;
			
			p {
				@include font-size( $label-font-size, 3, true, 0 );
				font-weight: normal;
			}

			&.message-error {
				color: get-color(brand);
			}
		}

		//	Field Defaults	 ------------
	
		input,
		select,
		textarea {
			@include font-size( $input-font-size, 6 );
			width: 100%; height: lines(6, $input-font-size);
			padding: 0; margin: 0;
			position: relative;
			display: block; box-sizing: border-box;
			color: currentColor; font-weight: normal; line-height: lines(6, $input-font-size);
			background-color: transparent;
			border: 0;
			outline: 0; resize: none;
			-webkit-appearance: none;
			box-shadow: none;
			transition: background-color 0.3s, border-color 0.3s;

			&::placeholder {
				font-weight: 300;
				color: get( grey, $colors );
				opacity: 1;
			}

			// &:-webkit-autofill {
			// 	-webkit-text-fill-color: get( white, $colors );
			// 	background-color: transparent;
			// 	box-shadow: 0 0 0px 1000px get( brand-slate, $colors ) inset;
			// }

			& + .o-btn {
				margin: 0;
				position: absolute; top: 0; right: gutters(0.5);
			}

			//	Sizes	 ----------------

			&.-large {
				@include font-size( delta, 2.5 );
				height: lines(2.5, delta);
				line-height: lines(2.5, delta) - em(1, delta);

				& + .o-btn {
					line-height: lines(2.5) - em(4); border-radius: lines(1.25);
				}
			}

			//	States	 ----------------

			&:focus {
				outline: none;
				border-color: get-color( grey );
			}

			&.-is-invalid {
				
			}

			//	Styles	 ----------------
			
			
		}

		//	Textarea	 ----------------

		textarea {
			min-height: lines(1);
			overflow: hidden;
			resize: none;
		}
		
		//	Checkbox	 ----------------
		
		input[type="checkbox"] {

		}
		
		
	}

	input[type="submit"] {
		-webkit-appearance: none;
		outline: none;
	}


	
	//	Themes
	//	--------------------------------------------------


/*
 * 	Media Queries
 *	--------------------------------------------------
 */

/*
 *	Breakpoint:	tablet
 *	--------------------------------------------------
 */

@include breakpoint( tablet ) {
	
	label, 
	.o-field {
		&.-small { width: 25%; }
		&.-third { width: percentage( 1/3 ); }
		&.-half { width: percentage( 1/2 ); }
		&.-twothirds { width: percentage( 2/3 ); }
		&.-wide { width: 75%; }
		&.-full { width: 100%; }

		&.-mobile-full { 
			width: inherit;
		}
	}
}