

//
//	Frontier / Mixins / Breakpoints
//


$breakpoint-columns-default: get( 'breakpoint-columns.default', $grid );
$breakpoint-columns: $breakpoint-columns-default;
$breakpoint-scale: 0;
// $breakpoint-typescale: default;

/*
 *	Breakpoint Builder
 *	--------------------------------------------------
 */

@mixin breakpoint( $breakpoint: default, $map: $breakpoints ) {

	$bp-map: get( $breakpoint, $map );

	@if $bp-map {
		$bp-direction: #{get( direction, $bp-map )}-width;
		$bp-width: get( width, $bp-map );
		$bp-scale: get( scale, $bp-map );
		$bp-typescale: get( typescale, $bp-map );	
		$bp-cols: get( $breakpoint, get( breakpoint-columns, $grid ) );

		// $breakpoint-typescale: $bp-typescale !global;	

		@media ( #{$bp-direction}: em( $bp-width ) ) {
			$breakpoint-columns: $bp-cols !global;
			$breakpoint-scale: $bp-scale !global;

			@content;

			$breakpoint-columns: $breakpoint-columns-default !global;
		}
	}
}