

//
//	Frontier / UI / Grid
//


/*
 *	Container
 *	--------------------------------------------------
 */

%container {
	width: cols( $breakpoint-columns ) + gutters(2); max-width: 100%; 
	margin-left: auto; margin-right: auto; padding: 0 gutters(0.5); box-sizing: border-box;
	position: relative; z-index: 10;
	@include clearfix;

	&.-span-narrow { 
		width: cols( $breakpoint-columns/2 ) + $gutter-em; 
	}
	&.-span-full {
		width: percentage( 1 );
	}
}

.container {
	@extend %container;
}


/*
 *	Structure
 *	--------------------------------------------------
 */

	.row {
		position: relative;
		display: flex; flex-flow: row wrap;

		//	Layout	 --------------------

		&.-margin-after {
			margin-bottom: lines(3);
		}
	}
		.col {

			//	Default Column	 ------------

			width: percentage(1/4); max-width: 100%;
			padding: 0 gutters(0.5); // margin-bottom: lines(3);
			flex: 1 1 0%;
			box-sizing: border-box;

			// .-cols-fixed & {
			// 	width: cols(3);
			// 	box-sizing: content-box;
			// }

			//	Column Sizes	 ------------
		
			&[class*="-span-"] {
				flex: 0 0 auto;
			}

			&.-span-single {
				width: percentage( 1/$breakpoint-columns );
			}
			&.-span-small {
				width: percentage( 2/$breakpoint-columns );
				// .-cols-fixed & { width: cols(1); }
			}
			
			
			&.-span-third {
				width: percentage( 1/3 );
			}
			&.-span-quarter {
				width: percentage( 1/4 );
			}
			&.-span-half {
				width: percentage( 1/2 );
			}
			&.-span-twothirds {
				width: percentage( 2/3 );
			}
			&.-span-wide {
				width: percentage( 3/4 );
			}
			&.-span-full {
				width: percentage( 1 );
			}

			//	Positions	 ----------------

			&.-pos-right {
				margin-left: auto;
			}
			&.-pos-left {
				
			}
			&.-pos-center {
				
			}
			
			//	Layout	 --------------------

			&.-margin-none {
				margin-bottom: 0;
			}

			//	Modifiers	 ----------------

			&.-flush {
				padding: 0 em(1) em(1) 0;
			}

			//	Nested Styles	 ------------

			.row {
				margin-left: gutters(-0.5); margin-right: gutters(-0.5);
			}

			//	States	 --------------------

		}



/*
 * 	Media Queries
 *	--------------------------------------------------
 */

/*
 *	Breakpoint:	smartphone
 *	--------------------------------------------------
 */

@include breakpoint( smartphone ) {

	%container {
		width: cols( $breakpoint-columns ) + gutters(2);
		&.-span-narrow { width: cols( $breakpoint-columns ) + $gutter-em; }
	}

	.col {
		width: percentage( 1 );
		flex: 1 0 percentage( 1 );

		//	Column Sizes	 ------------
		&.-span-single {
			width: percentage( 1/$breakpoint-columns );
		}
		
	}
}


/*
 *	Breakpoint:	smartphone-wide
 *	--------------------------------------------------
 */

@include breakpoint( smartphone-wide ) {

	%container {
		width: cols( $breakpoint-columns ) + gutters(2);
		&.-span-narrow { width: cols( $breakpoint-columns ) + $gutter-em; }
	}
	
	.col {

		//	Default Column	 ------------
		width: percentage( 1 ); max-width: 100%;

		//	Column Sizes	 ------------
		&.-span-single {
			width: percentage( 1/$breakpoint-columns );
		}
		&.-span-full {

		}
	}

}


/*
 *	Breakpoint:	tablet
 *	--------------------------------------------------
 */

@include breakpoint( tablet ) {

	%container {
		width: cols( $breakpoint-columns ) + gutters(2);
		&.-span-half { width: cols( $breakpoint-columns/2 ) + $gutter-em; }
	}

	.row {
		margin-bottom: lines(3);
	}

		.col {
			width: percentage( 1/4 );

			&.-mobile-half {
				width: percentage( 1/4 );
			}
			
			&.-span-single {
				width: percentage( 1/$breakpoint-columns );
			}
			&.-span-small {
				width: percentage( 1/6 );
			}
			&.-span-third {
				width: percentage( 1/3 );
			}
			&.-span-fivetwelfths {
				width: percentage( 5/12 );
			}
			&.-span-half {
				width: percentage( 1/2 );
			}
			&.-span-seventwelfths {
				width: percentage( 7/12 );
			}
			&.-span-twothirds {
				width: percentage( 2/3 );
			}
			&.-span-wide {
				width: percentage( 3/4 );
			}
			&.-span-full {
				width: percentage( 1 );
			}
		}

}


/*
 *	Breakpoint:	tablet-wide
 *	--------------------------------------------------
 */

@include breakpoint( tablet-wide ) {

	%container {
		width: cols( $breakpoint-columns ) + gutters(2);
		&.-span-narrow { width: cols( $breakpoint-columns/2 ) + $gutter-em; }
	}

	.col {
		width: percentage( 1/4 );

		&.-span-single {
			width: percentage( 1/$breakpoint-columns );
		}
		&.-span-full {
			width: percentage( 1 );
		}
	}
}

/*
 *	Breakpoint:	desktop
 *	--------------------------------------------------
 */

@include breakpoint( desktop ) {

	%container {
		width: cols( $breakpoint-columns ) + gutters(2);
		&.-span-narrow { width: cols( $breakpoint-columns/2 ) + $gutter-em; }
	}

	.col {

		&.-span-single {
			width: percentage( 1/$breakpoint-columns );
		}
		&.-span-full {
			width: percentage( 1 );
		}
	}
}

/*
 *	Breakpoint:	med-desktop
 *	--------------------------------------------------
 */

@include breakpoint( med-desktop ) {

	%container {
		width: cols( $breakpoint-columns ) + gutters(2);
		&.-span-narrow { width: cols( $breakpoint-columns/2 ) + $gutter-em; }
	}

	.col {

		&.-span-single {
			width: percentage( 1/$breakpoint-columns );
		}
		&.-span-full {
			width: percentage( 1 );
		}
	}
}


/*
 *	Breakpoint:	large-desktop
 *	--------------------------------------------------
 */

@include breakpoint( large-desktop ) {

	%container {
		width: cols( $breakpoint-columns ) + gutters(2);
		&.-span-narrow { width: cols( $breakpoint-columns/2 ) + $gutter-em; }
	}

	.col {

		&.-span-single {
			width: percentage( 1/$breakpoint-columns );
		}
		&.-span-full {
			width: percentage( 1 );
		}
	}
}