

//
//	Frontier / Base / Typography
//


/*
 *	Main
 *	--------------------------------------------------
 */

body {
	-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
	color: $text-color;
}

@each $scale, $data in $type-scale {
	
	$px: 		if( map-has-key( $data, 'px' ), get( px, $data ), 16 );
	$lines: 	if( map-has-key( $data, 'lines' ), get( lines, $data ), 1 );
	$cap-size: 	if( map-has-key( $data, 'cap' ), get( cap, $data ), 1 );
	$element: 	if( map-has-key( $data, 'map-to' ), get( map-to, $data ), false );

	.#{$scale} {
		@include font-size( $scale );
	}

	@if type-of($element) == string {
		#{$element} { 
			@extend .#{$scale}; 
		}
	}

}

/*
 *	Headings
 *	--------------------------------------------------
 */

h1, h2, h3, h4, h5, h6 {
	font-family: $headings-font; font-weight: normal; color: $headings-color;
	text-rendering: optimizelegibility;

	small {
		@include font-size(10, 1);
	}

}


/*
 *	Paragraphs
 *	--------------------------------------------------
 */

p {
	@extend .default;

	//	Styles	 --------------------

	&.-lead {
		@extend .delta;
		color: $headings-color;
	}

	&.-intro {
		@include font-size( 18, 3.5, true, 3, 0.8 );
		font-weight: 100;
	}

	small,
	&.-small {
		@extend .epsilon;
	}
}


/*
 *	Anchors
 *	--------------------------------------------------
 */

a {
	color: $link-color;

	&.-is-hover,
	&:hover,
	&:focus,
	&:active {
		color: $link-color-hover;
		text-decoration: underline;
	}
	
	&.-is-visited {
	// &:visited {
		color: get-color( brand-purple );
	}
}

/*
 *	Lists
 *	--------------------------------------------------
 */

%unstyled {
	margin: 0; padding: 0;
	list-style: none;
}

ul {
	max-width: cols(8);
	margin: 0 0 lines(2); padding-left: gutters(1.25); box-sizing: border-box;
	list-style-type: none;

	&.unstyled {
		@extend %unstyled;
	}

	li {
		font-family: $font-primary; font-weight: 100;
		@include font-size( 16, 3, true, 1, 0.8 );

		&:before {
			content: "•";
			color: get-color( brand );
			position: absolute; top: em(1); left: gutters(-0.65);
		}

		.-regular {
			color: get-color( brand-alt );
		}
	}
}


/*
 *	Styles
 *	--------------------------------------------------
 */


//	Faces

.-font-primary {
	font-family: $font-primary;
}
.-font-secondary {
	font-family: $font-secondary;
}

//	Weights

.-light { font-weight: 100; }
.-regular { font-weight: normal; }
.-medium { font-weight: 500; }
.-bold { font-weight: 700; }
.-black { font-weight: 900; }


//	Styles

.-underline { 
	border-bottom: 1px solid currentColor;
}
.-italic {
	font-style: italic;
}
.-caps {
	text-transform: uppercase;
}
.-border {
	border-bottom: 2px solid currentColor;
}
.-color-alt {
	color: $color-secondary;
}


//	Alignment

.-align-center {
	text-align: center;
	justify-content: center;
}
.-align-left {
	text-align: left;
}
.-align-right {
	text-align: right;
}

h1, h2, h3, h4, h5, h6, p {
	.-align-center & {
		margin-left: auto; margin-right: auto;
	}
}


//	Margins

// .-margin-half {
// 	& + * {
// 		margin-top: 0;
// 	}
// }
// .-margin-none {
// 	margin-bottom: 0;

// 	& + * {
// 		margin-top: 0;
// 	}
// }



/*
 * 	Media Queries
 *	--------------------------------------------------
 */

@each $bp, $bp-map in $breakpoints {

	@include breakpoint( #{$bp} ) {
		body {
			font-size: em( get-font-size( default ) + $breakpoint-scale );
		}
	}

}
/*
 *	Breakpoint:	Default
 *	--------------------------------------------------
 */

@include breakpoint(default) {

	
}